<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="visualStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="conn" connectionString="Data Source=52.147.200.137;Initial Catalog=visualStudio;User ID=sa;Password=Aah51771#" providerName="System.Data.SqlClient"/>
	</connectionStrings>
 <userSettings>
  <visualStudio.Properties.Settings>
   <setting name="form_Width" serializeAs="String">
    <value>500</value>
   </setting>
   <setting name="form_Height" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="form_left" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="form_top" serializeAs="String">
    <value>0</value>
   </setting>
  </visualStudio.Properties.Settings>
 </userSettings>
</configuration>
